body {
    margin: 0;
    padding: 0;
    background-color: #FBF9FA;
    width: 100%;
}
/* стилі хедера */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 16px 0;
    padding-left: 76px;
    padding-right: 76px;
    background-color: #AC2E91;
    font-family: 'PT Sans Caption', sans-serif;
    color: #FBF9FA;
    position: fixed;
    width: calc(100% - 152px);
    top: 0;
    left: 0;
    z-index: 2; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 23px;
}
.logo span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    letter-spacing: 2%;
}
 /* зміни grid */
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 72px;
}
.navigation li {
    display: inline;
}
.navigation a {
    text-decoration: none;
    color: #FBF9FA;
    font-size: 22px; 
    transition: font-weight 0.5s, color 0.5s;
}
.navigation a:hover {
    font-weight: bold; 
}
.navigation a.active {
    color: #FFD964
}

.icons {
    display: flex;
    gap: 26px;
    height: 40px;
}

/* стилі рухомого рядка знижки */

.sale-text {
    font-family: 'PT Sans Caption', sans-serif;
    color: #FBF9FA;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}
.sale-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8C653;
    padding: 11px 0;
    white-space: nowrap;
    width: 100%; 
    overflow: hidden;
    margin-top: 80px;
}
.items {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
}
.marquee {
    animation: scroll 13s linear infinite;
} 
@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100%));
    }
}

/* стилі візуального блоку */

.vis-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    box-shadow: 0 0 20px rgba(14, 12, 49, 0.15);
}
.vis-block-text {
    text-align: left;
    width: auto;
    margin: 130px 0 0 80px;
    min-width: 436px;
}
.vis-block-text h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 68px;
    max-width: 523px;
}
.subtitle{
    width: fit-content;
}
.subtitle h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    padding: 46px 0 58px;
    max-width: 608px;
    font-weight: 500;
}
.catalog-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    word-spacing: 2%;
    padding: 24px 48px;
    max-width: fit-content;
    background-color: #AC2E91;
    color: #FBF9FA;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}
.catalog-button:hover {
    background-color: #A8C653;
}

.heart-component {
    position: relative;
}
.vis-block img {
    height: calc(100% - 32px);
    padding-top: 32px;
    position: relative;
    z-index: 1;
}
.sale-line2 {
    display: flex;
    white-space: nowrap;
    width: 375px; 
    overflow: hidden;
    gap: 100px;
    position: absolute;
    top: 60px;
    left: 0;
}
.items2 {
    display: flex;
    justify-content: space-around;
    width: 800px; 
}
.marquee2 {
    animation: scroll2 5s linear infinite;
} 
@keyframes scroll2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 100px));
    }
}

/* стилі блоків категорій та про нас */

.categories_about-us_block{
    padding-left: 80px;
    min-height: 471px;
}
/* зміни grid */
.category-block{
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: space-evenly;
    padding: 72px 0 64px 0;
    padding-right: 80px;
    gap: 38px;
}
.category {
    text-align: center;
    position: relative;
    transition: min-hight 0.3s ease-in-out;
    
    cursor: default;
}
.category:hover p {
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 141px 0;
}
.category img {
    border-radius: 9px;
}
.category p {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 32px;
    color: #FBF9FA;
    background-color: #AC2E91;
    border-radius: 0 0 9px 9px;
    padding: 12px 0;
    min-height: auto;
    margin: 0 0;
    position: absolute; 
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition:  padding 0.3s ease, color 0.3s ease-in-out; 
}

.about-us-block {
    display: flex;
    align-items: center;
    color: #0E0C31;
    justify-content: space-between;
}
.about-us-text-block {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.about-us-text {
    display: flex;
    gap: 51px;
    align-items: center;
    padding-bottom: 0px
}
.about-us-accent {
    min-width: 8px;
    height: 268px;
    background-color: #A8C653;
}
.about-us-text p {
    font-family: 'PT Sans Caption', sans-serif;
    color: #0E0C31;
    font-size: 28px;
    line-height: 1.5;
    max-width: 858px;
    min-width: 627px;
}
.about-us-text-block h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin: 0;
}
.about-us-block img{
    height: 480px;
    max-height: 100%;
}

/* стилі блоку про нас */
.for-you-block{
    display: flex;
    align-items: flex-start;
    gap: 56px;
    padding: 64px 80px 48px 80px;
    background-color: #CFDF9F;
    color: #0E0C31;
}
.for-you-block h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}
/* зміни grid */
.for-you-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 400px));
    justify-content: space-around;
    gap: 188px;
    margin: 0 46px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 28px;
    text-align: center;
    width: 100%;;
}
/* зміни grid */
.for-you-item{
    display: grid;
    justify-items: center;
    gap: 42px;
}

/* стилі каталогу */
.catalog-block{
    display: flex;
    flex-direction: column;
    padding: 64px 80px 72px 80px;
}
.catalog-block h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    letter-spacing: 2%;
    margin: 0 0 48px 0;
}
/* зміни grid */
.catalog-frame{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 200px;
    row-gap: 16px;
    justify-content:space-between;
    width: 100%;
}
    /* стилі картки товару */
.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: auto;
    padding: 0 30px 30px 30px;
    margin-bottom: 48px;
    border: 2px solid #908E9F;
    border-radius: 9px;
    background-color: #FBF9FA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.catalog-item:hover {
    transform: scale(1.05);
}
.photo-text {
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans Caption', sans-serif;
    color: #0E0C31;
    font-size: 26px;
}
.photo-text img {
    max-width: 340px;
    height: auto;
    margin: 27px 30px 8px 30px;
}
.photo-text p{
    margin: 28px 0 38px 0;
}
.price {
    font-family: 'PT Sans Caption', sans-serif;
    color: #0E0C31;
    font-size: 32px;
    margin-bottom: 42px;
}
.catalog-frame button {
    font-size: 26px;
    color: #0E0C31;
    margin: 0 24px;
    padding: 19px 130px;
    background-color: #A8C653;
}
.catalog-frame button:hover {
    background-color: #AC2E91;
    color: #FBF9FA;
}

.to-catalog{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}
.to-catalog a{
    text-decoration: none;
    color: #908E9F;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 28px;
    transition: color 0.5s;
}
.to-catalog img {
    transition: src 0.5s; 
    cursor: pointer; 
}
/* стилі блоку відгуків */
.reviews-block{
    display: flex;
    flex-direction: column;
    background-color: #CFDF9F;
    padding: 64px 80px 40px 76px;
    overflow: hidden;
    position: relative;
}
.reviews-block h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    letter-spacing: 2%;
    margin: 0 0 48px 0;
}
.cloud-1 {
    position: absolute;
    top: 149px;
    right: 0;
    z-index: 1;
}
.cloud-2 {
    position: absolute;
    bottom: 34px;
    left: 0;
    z-index: 1;
}
.reviews-display{
    display: flex;
    flex-direction: column;
    gap: 64px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.review{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 72px;
    padding: 32px 40px;
    max-width: 1198px;
    min-width: 600px;
    background-color: #FBF9FA;
    border-radius: 9px;
}
.review-data{
    font-family: 'PT Sans Caption', sans-serif;
    color: #0E0C31;
    font-size: 28px;
}
.review-data p{
    margin: 0;
}
.review-data img{
    margin: 24px 0;
}

* {
   margin: 0;
   padding: 0;
}
.reviews-full {
   width: 100%;
   overflow: hidden;
   background-color: #CFDF9F;
   position: relative;
}
.reviews-menu {
    display: flex;
    justify-content: center;
    padding-top: 39px;
}
.menu-dot {
   width: 16px;
   height: 16px;
   border-radius: 16px;
   margin: 12px;
   cursor: pointer;
   background-color: #0E0C31;
   transition: all 0.4s ease;
}
.menu-dot:hover {
   transform:scale(1.5);
}
input[name="r"] {
   position: absolute;
   visibility: hidden;
}
.slides {
   width: 400%;
   height: 100%;
   display: flex;
}
.slide {
    display: flex;
    justify-content: center;
   width: 25%;
   transition: all 0.6s ease;
}
#r1:checked ~ .s1 {
   margin-left: 0;
}
#r2:checked ~ .s1 {
   margin-left: -25%;
}
#r3:checked ~ .s1 {
   margin-left: -50%;
}

/* стилі блоку додати відгук */
 /* зміни grid */
.add-review-block{
    display: grid;
    grid-template-columns: 1fr;
    padding: 64px 80px 82px 80px;
    position: relative;
}
.add-review-block h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
}
.add-review-block img{
    position: absolute;
    bottom: 0;
    right: 28px;
}
 /* зміни grid */
.fields-frame{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 60px 0;
    position: relative;
}
.fields-frame input[type="text"],
.fields-frame textarea {
    padding: 16px 32px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 28px;
    border: 2px solid #908E9F;
    background-color: #FBF9FA;
    border-radius: 9px;
    transition: border-color 0.3s ease;
}
.fields-frame label {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 24px;
    color: #908E9F;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    pointer-events: none;
    position: absolute;
    left: 32px;
    padding: 0 12px;
}
.fields-frame label[for="name"] {
    top: 82px;
}
.fields-frame label[for="review"] {
    top: 187px;
}
.fields-frame input[type="text"]:hover,
.fields-frame textarea:hover {
    border: 2px solid #AC2E91
}
.fields-frame input[type="text"]:is(:focus),
.fields-frame textarea:is(:focus) {
    outline-color: #AC2E91;
}
.fields-frame input[type="text"]:focus + label,
.fields-frame textarea:focus + label,
.fields-frame input[type="text"]:not(:placeholder-shown) + label,
.fields-frame textarea:not(:placeholder-shown) + label {
    transform: translateY(-34px);
    font-size: 18px;
    background-color: #FBF9FA;
    color: #AC2E91;
}
.fields-frame textarea {
    min-height: 413px;
    max-height: 413px; 
    min-width: calc(100%-80px);
    max-width: calc(100%-80px);
}
.add-review-block button {
    font-size: 28px;
    color: #FBF9FA;
    margin: 0 24px;
    padding: 24px 48px;
    background-color: #AC2E91;
}
.add-review-block button:hover {
    background-color: #A8C653;
}

/* стилы блоку доставки */
.delivery-block{
    display: flex;
    flex-direction: column;
    background-color: #CFDF9F;
    padding: 64px 80px 80px 80px;
    gap: 72px;
}
.delivery-block h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    margin: 0;
}
.delivery-items-frame{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
.delivery-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 312px;
    gap: 32px;
    padding-bottom: 36px;
}
.delivery-item p{
    font-family: 'Pt Sans', sans-serif;
    font-size: 28px;
    margin: 0;
    text-align: center;
}
.number-icon{
    display: flex;
    max-width: 164px;
    max-height: 164px;
    justify-content: center;
    align-items: center;
}

/* стилі футера */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AC2E91;
    padding: 32px 80px 48px 80px;
    gap: 32px;
    color: #FBF9FA;
}
/* зміни grid */
.footer-inf{
    display: grid;
    grid-template-columns: repeat(auto-fit, 126px);
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
/* зміни grid */
.footer-resourses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 760px;
    justify-content: space-between;
}

/* зміни grid */
.footer-category{
    display: grid;
    gap: 16px;
    font-family: 'Pt Sans', sans-serif;
    font-size: 20px;
    line-height: 1.7;
}
.footer-category h2{
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}
/* зміни grid */
.footer-category-content{
    display: grid;
}
.footer-category-content a{
    text-decoration: none;
    color: #FBF9FA;
    width: 179px;
}
.footer-category-content a:hover {
    font-weight: bold; 
}
.footer-category-content a.active {
    color: #FFD964
}